{# polls/templates/polls/question_detail.html #}

{% extends "base.html" %}

{% block title %}
  Détails
{% endblock %}


{% block content %}
  <h1 class="text-3xl">Question {{ question.id }} :<br>
    {{ question.question_text }}</h1>

  {% if question.choice_set.all %}
      <form action="/polls/vote/" method="POST">
          {% for choice in question.choice_set.all %}
          <div>
            <input type="radio" id="{{ choice.choice_text }}" name="vote" value="{{ choice.choice_text }}">
            <label for="{{ choice.choice_text }}">{{ choice.choice_text }}</label>
          </div>
          {% endfor %}
          <button type="submit">Vote</button>
      </form>
  {% else %}
      <p>Pas de choix !</p>
  {% endif %}
{% endblock %}